# Ignore sensitive config
config/credentials.json
logs/
backup/
config/.env
src/web.php
src/login.php
src/css/
src/footer.php
src/logout.php
src/info.php
logs/migration.log
/local-vm-setup
/local-vm-setup/README.md
.gitignore